* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  font-family: "TT Lakes Neue Trial", sans-serif;
   background-color: #f8f8f8;
}

.container {
  max-width: 1120px;
  margin: 30px auto auto auto;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 16px;
  border-bottom: solid 1px #d9fff5;
}

header .icons {
  width: 40px;
}

.main-header {
  display: none;
}

.first-header-group {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}

.second-third-header-group {
  display: flex;
}
.second-header-group {
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
  gap: 16px;
}

.third-header-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.large-screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.large-screen-header-nav div {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

.large-screen-header-nav div img {
  margin-left: 8px;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 8px;
}

h1::before {
  content: "";
  height: 40px;
  border: solid 2px #41f6d7;
  margin-right: 16px;
  margin-left: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.side-menu-links {
  margin: 20px auto auto 20px;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
}

.side-menu-links a {
  text-decoration: none;
  min-width: 200px;
  text-align: left;
  margin-right: 16px;
  color: #565656;
  border: solid 2px transparent;
  border-radius: 10px;
  padding: 5px;
  padding: 5px;
  background-color: #f8f8f8;
}

.side-menu-links a:hover {
  text-decoration: none;
  min-width: 200px;
  text-align: left;
  margin-right: 16px;
  color: #565656;
  border: solid 2px #41f6d7;
  border-radius: 6px;
  padding: 5px;
  background-color: #ffff;
}

.side-menu-links::-webkit-scrollbar {
  width: 0px;
}

article {
  margin: auto 15px 15px 15px;
  display: flex;
  justify-content: center;
}

article p {
  flex: 1;
  margin: 16px;
  font-size: 15px;
  text-align: left;
  line-height: 20px;
  max-width: fit-content;
}

.readmore-cta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.readmore-cta img {
  width: 35px;
  margin-left: 16px;
}

.image-container img {
  min-width: 500px;
  height: auto;
}

@media (max-width: 768px) {
  body {
    font-family: "TT Lakes Neue Trial", sans-serif;
    background-color: #f8f8f8;
  }

  .container {
    max-width: 768px;
    margin: 30px auto auto auto;
  }

  .large-screen-header-nav {
    display: none;
  }

  .main-header {
    display: block;
  }

  .first-header-group {
    display: flex;
  }

  .main-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 16px;
    border-bottom: solid 1px #d9fff5;
  }

  .icons {
    width: 40px;
  }

  .icons {
    width: 40px;
  }

  .first-header-group {
    display: flex;
    justify-content: space-between;
    margin-right: 16px;
    align-items: center;
    gap: 16px;
  }

  .divider {
    height: 40px;
    background-color: #dddd;
    width: 1px;
  }

  .second-third-header-group {
    display: flex;
  }
  .second-header-group {
    display: flex;
    justify-content: space-between;
    margin-right: 16px;
    gap: 16px;
  }

  .third-header-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  h1 {
    font-size: 28px;
    font-weight: 700;
    margin-top: 24px;
  }

  h1::before {
    content: "";
    height: 40px;
    border: solid 4px #41f6d7;
    margin-right: 16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  /* side menu link here */

  .side-menu-links {
    margin: 20px auto auto 20px;
    max-height: 60px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .side-menu-links a {
    text-decoration: none;
    min-width: 248px;
    text-align: left;
    margin-right: 16px;
    color: #565656;
    border: solid 2px transparent;
    border-radius: 10px;
    padding: 5px;
    padding: 5px;
    background-color: #f8f8f8;
  }

  .side-menu-links a:hover {
    text-decoration: none;
    min-width: 248px;
    text-align: left;
    margin-right: 16px;
    color: #565656;
    border: solid 2px #41f6d7;
    border-radius: 6px;
    padding: 5px;
    background-color: #ffff;
  }

  .side-menu-links::-webkit-scrollbar {
    width: 0px;
  }

  article {
    display: flex;
    justify-content: center;
  }

  article p {
    flex: 1;
    margin: 16px;
    font-size: 15px;
    text-align: left;
    line-height: 20px;
    max-width: fit-content;
  }

  .readmore-cta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .readmore-cta img {
    width: 35px;
    margin-left: 16px;
  }

  .image-container img {
    min-width: 200px;
  }
}

@media (max-width: 500px) {
  body {
    font-family: "TT Lakes Neue Trial", sans-serif;
    background-color: #f8f8f8;
  }

  .container {
    max-width: 500px;
    margin: 30px auto auto auto;
  }

  .second-header-group .call-icon,
  .chat-icon,
  .profile-icon {
    display: none;
  }

  .one {
    display: none;
  }

  .main-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 16px;
    border-bottom: solid 1px #d9fff5;
  }

  .icons {
    width: 40px;
  }

  .first-header-group {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
  }

  .third-header-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  h1 {
    font-size: 28px;
    font-weight: 700;
    margin-top: 24px;
  }

  h1::before {
    content: "";
    height: 40px;
    border: solid 4px #41f6d7;
    margin-right: 16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  /* side menu links here */
  side-menu-links {
    margin: 20px auto auto 20px;
    max-height: 60px;
    display: flex;
    overflow-x: auto;
  }

  .side-menu-links a {
    text-decoration: none;
    min-width: 248px;
    text-align: left;
    margin-right: 16px;
    color: #565656;
    border: solid 2px transparent;
    border-radius: 10px;
    padding: 5px;
    padding: 5px;
    background-color: #f8f8f8;
  }

  .side-menu-links a:hover {
    text-decoration: none;
    min-width: 248px;
    text-align: left;
    margin-right: 16px;
    color: #565656;
    border: solid 2px #41f6d7;
    border-radius: 6px;
    padding: 5px;
    background-color: #ffff;
  }

  .side-menu-links::-webkit-scrollbar {
    width: 0px;
  }

  article {
    margin-top: 50px 15px 15px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  article p {
    margin: 16px;
    font-size: 15px;
    text-align: left;
    line-height: 20px;
    max-width: fit-content;
  }

  .readmore-cta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .readmore-cta img {
    width: 35px;
    margin-left: 16px;
  }

  .image-container {
    display: flex;
  }

  .image-container img {
    max-width: 100%;
    height: auto;
  }
}
