* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'TT Lakes Neue Trial', sans-serif;
  margin: 18px;
  max-width: 430px;
  background-color: #F8F8F8;
  
}

.second-header-group {
  display: none;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 16px;
  border-bottom: solid 1px #D9FFF5;
}

.icons {
  width: 40px;
}

.first-header-group {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}

.third-header-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

h1 {
  font-size: 28px;
  font-weight: 700; 
  margin-top: 24px;
}

h1::before {
  content: "";
  height: 40px;
  border: solid 4px #41F6D7;
  margin-right: 16px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}
  

.side-menu-buttons{
  display:flex;
  justify-content: flex-start;
  align-items:flex-start;
  max-height: 40px;
  min-width: 320px;
   margin-top: 25px;
   margin-left: 16px;
   overflow-x: auto;
   gap: 10px;
}



.side-menu-buttons button {
  padding: 8px;
  text-align: left;
  width: 248px;
  background-color: #F8F8F8;
  font-family: inherit;
  font-weight: 500;
  color: #7E7E82;
}

.side-menu-buttons button:hover {
  padding: 10px;
  border: solid 2px #B8FFEC;
  background-color: #FFFFFF;
  border-radius: 10px;

}


article p {
  margin: 16px;
  font-size: 15px;
  text-align: left;
  line-height: 20px;
  letter-spacing: 0.2;
  max-width: fit-content;
}

.readmore-cta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.readmore-cta img {
  width: 35px;
margin-left: 16px;
}

.readmore-cta-button {
  margin-left: 0;
}

.image-container img {
width: 100%;
}