* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  font-family: roboto;
  margin: 18px;
  max-width: 320px;
  background-color: #F8F8F8;
}

.second-header-group {
  display: none;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 16px;
  border-bottom: solid 1px #D9FFF5;
}

.icons {
  width: 40px;
}

.first-header-group {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}

.third-header-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

h1 {
  font-size: 28px;
  font-weight: 700; 
  margin-top: 24px;
}

h1::before {
  content: "";
  height: 40px;
  border: solid 4px #41F6D7;
  margin-right: 16px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}


.side-menu-buttons{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
   margin-top: 32px;
   gap: 16px;
   overflow: hidden;
   margin-left: 16px;
}


.side-menu-buttons button {
  padding: 8px;
  border: solid 2px #B8FFEC;
  background-color: #FFFFFF;
  border-radius: 5px;
}


.side-menu-buttons-2 {
  display: none;
}

article p {
  margin: 16px;
  font-size: 14px;
  text-align: left;
  line-height: 18px;
  letter-spacing: 0.2;
}